/* Font import, CSS variables, CSS reset */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --h1-color: #a8bec9;
    --footer-color: #a8bec9;
    --game-text-color:#f7c23c;
    --background-color: #192a32;; 
    --cell-color: #1f3540; 
    --winning-cell-color: #2cc6be; 
    --cell-hover-color: #a8bec97e; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "IBM Plex Mono", serif;
    font-weight: 700;
    color: var(--game-text-color);
}

/* Flex containers */
body,
.game-container .cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    flex-direction: column;

    background: var(--background-color); 
  }
  
body > * {
    margin-block: 1rem;
}

/* Game header */
.game-header h1{
    color: var(--h1-color);
    font-size: 3rem;
}

/* Game result announcements */
.game-result-container {
    min-width: 40%;
}

.game-result-container #game-result-msg,
.game-result-container #game-restart-msg  {
    text-align: center;
}

/* Game container and input cells */
.game-container {
    display: grid;
    grid-template-columns: repeat(3, 140px);
    grid-template-rows: repeat(3, 140px);
    gap: 0.8rem;  

    background: inherit;  
}

.game-container .cell {
    background: var(--cell-color); 
    border-radius: 8px;  
    font-weight: bold;
    font-size: 4rem;

    cursor: pointer;
}

.game-container .winning-cell {
    background:var(--winning-cell-color);  
}

.game-container .hover-cell:hover {
    background: var(--cell-hover-color);  
}

/* Footer styling */
.game-footer a{
    text-decoration: none;
    color: var(--footer-color);
    font-size: 1.2rem;
}

.game-footer .fa-github {
    font-size: 1.6rem;
    color: inherit;
}

