* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Flex container */
body,
.game-container .cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;

    flex-direction: column;
  }
  
body > * {
    margin-block: 1rem;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, 148px);
    grid-template-rows: repeat(3, 148px);
    gap: 0.2rem;

    background: black;
}

.game-container .cell {
    background: white;
    font-weight: bold;
    font-size: 4rem;
}